.panel

  %h4 What is PuckPicks?

  %p 
    PuckPicks is an NHL hockey prediction game. To play, 
    = link_to 'register for an account.', :register

  %p You can bet on the current day's games, up until the faceoff time. The rules are simple: 

  %ul.rules
    %li If you bet for a team to win by 1 (or more), you are risking 1 point.
    %li If you bet for a team to win by 2 (or more), you are risking 2 point.

  %p 
    You start with 0 points and move up and down from there. Your score can go negative, so bet carefully!

  %p
    PuckPicks is a work in progress, so you may encounter some bugs. 
    = link_to 'Please report any you find!', 'https://github.com/jbinto/puckpicks/issues'
