.admin, nav li a.admin {
  color: red;
}

// form.edit_game {
//   margin: 0;
// }

form.edit_game input[type="text"] {
  width: 25px;
  float: left;
}

form.edit_game label {
  float: left;
  width: 50px;
  margin-left: 10px;
}

.good { color: #468847; }
.bad { color: #b94a48; }

table { width: 100%; }

.all-time { 
  font-weight: bold; 
  font-size: 1.5em;
}

ul.game {
  &:nth-child(even) { background: white; }
  &:nth-child(odd) { background: #f9f9f9; }

  border: solid 1px #dddddd;
  margin-bottom: 10px;
  li {
    margin-top: 25px;
  }
}

h4.time { 
  background-color: white; 
  margin-top: 25px; 
  border: 1px dashed #dedede;
  font-size: 1.2em;
  margin-bottom: 0;
  display: inline;
}

h4.time.closed {
  opacity: 0.5;
}

ul.game.closed {
  opacity: 0.3;
}

ul.game.picked {
  background-color: #dedede;
}

ul.rules li, .alert ul li {
  margin-left: 20px;
}

footer {
  padding-bottom: 50px;
  text-align: center;
}

