.navbar-text {
  margin-right: 25px;
}

span.home {
  margin-right: 10px;
}

.admin, .navbar .nav > li > a.admin {
  color: red;
}

form.edit_game {
  margin: 0;
}

form.edit_game input[type="text"] {
  width: 25px;
  float: left;
}

form.edit_game label {
  float: left;
  width: 50px;
  margin-left: 10px;
}

form.edit_game input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-mini;
}